#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 20px 0px;
  margin-bottom: 10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-main {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  padding: 15px;
  margin-top: 10px;
  border-top: solid 1px rgba(0, 0, 0, 0.3);
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.channel-header__icon i {
  color: rgba(0, 0, 0, 0.3);
}
